__pycache__/
__pycache__/*
data/
models/__pycache__/
models/__pycache__/*
saved_models/
utils/__pycache__/
utils/__pycache__/*
plots/
*.err
*.out
# *.ipynb
# *.sh
tmux*.sh
*.pt
*.pdf
*.png
utils/*temp*
outputs/
final_outputs/
final_plots/
# batch_script*
.DS_Store
saved_data/
workspace*
ablation_study.py
cmds.txt
temp.csv
latexmaker/
saved_results/*
